<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="#{sleeping.time.challenge}"></title>

<link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.min.css} "/>