<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <a class="nav-link" href="/" th:text="#{challengers}">Deine Schlafzeiten</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="detail" th:text="#{your.sleeptime}">Deine Schlafzeiten</a>
                </li>
            </ul>
        </div>
    </div>
</nav>