<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header-fragment.html"/>
<body>

<!-- Navigation -->
<div th:insert="fragments/navbar-fragment.html"/>


<div class="container-md">
  <h2 th:text="#{your.sleeptime}|"></h2>
  <p class="lead" th:text="#{challenge.explanation.time}">Neue Bettgehzeit eintragen</p>
  <div class="row">
    <div class="col-4">
      <table id="challenge-times" class="table table table-borderless">
        <thead>
          <tr>
            <th th:text="#{challenge.timespans}"></th>
            <th th:text="#{points}"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="t: ${timespans}">
            <td th:text="*{t.getDisplay()}"></td>
            <td th:text="*{t.getPoints()}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-8"></div>
  </div>
  <p class="lead" th:text="#{add.go.to.bed.time}">Neue Bettgehzeit eintragen</p>
  <form th:action="@{{baseUrl}/detail(baseUrl=${baseUrl})}" method="post" th:object="${detailinputs}">
    <input type="hidden" th:field="*{userId}" id="userId"/>
    <div class="mb-3">
      <label for="day" class="form-label" th:text="#{day}">Tag:</label>
      <input type="date" th:field="*{day}" id="day" class="form-control"/>
      <label for="hour" class="form-label" th:text="#{hours}">Stunden:</label>
      <select th:field="*{hour}" id="hour" class="form-select">
        <option th:each="i : ${#numbers.sequence(0, 23)}" th:value="${i}" th:text="${i}"
                th:selected="${i==detailinputs.hour}"></option>
      </select>
      <label for="minute" class="form-label" th:text="#{minutes}">Minuten:</label>
      <select th:field="*{minute}" id="minute" class="form-select">
        <option th:each="i : ${#numbers.sequence(0, 59)}" th:value="${i}" th:text="${i}"
                th:selected="${i==detailinputs.minute}"></option>
      </select>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-dark" th:text="#{save}">Speichern</button>
    </div>
  </form>
</div>

  <div class="container-md" style="padding-top:10px">
    <div >
      <table id="bedtimes" class="table table-striped" style="width: 100%">
        <thead>
        <tr>
          <th th:text="#{go.to.bed.time}">Bettgeh Zeit</th>
          <th th:text="#{points}">Punkte</th>
          <th th:text="#{delete}">Lösche Eintrag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${user.sleepingTimeList}">
          <td th:text="${#temporals.format(detail.goToBedTime,'dd.MM.yyyy HH:mm')}">Bettgeh Zeit</td>
          <td th:text="${detail.points}">points</td>
          <td> <a th:href="|deletetime?id=${detail.id}|"  th:text="#{delete}"/></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>



<div th:replace="fragments/footer-fragment.html"/>

</body>
</html>