<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header-fragment.html"/>
<body>

<!-- Navigation -->
<div th:insert="fragments/navbar-fragment.html"/>

<div class="container"  style="padding-top:10px">
    <h2 th:text="#{challengers}"/></h2>
    <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
        <div class="card-header" th:text="#{challenge.yourpoints}">Header</div>
        <div class="card-body">
            <h3 class="card-title" th:text="${currentUser.getSumOfPoints()}">Dark card title</h3>
            <p class="card-text" th:text="#{challenge.yourpoints.text}"></p>
        </div>
    </div>
    <p class="lead" th:text="#{challenge.text}">Hier hast du den Überblick über deine erreichten Punkte sowie die deiner Freunde. Wenn du neue Schlafzeiten eintragen willst, gehe ins Menü!</p>
    <div class="container">
        <div >
            <table id="friends" class="table table-striped table-sm" style="width: 50%">
                <thead>
                <tr>
                    <th th:text="#{users}">Nutzer</th>
                    <th th:text="#{challenge.pointdifference}">Punkte</th>
                    <th th:text="#{quit}">Beenden</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${friends}">
                    <td th:text="|${user.name}|"/>
                    <td th:text="${user.sumOfPoints}"/>
                    <td>
                        <form th:action="@{{baseUrl}/deleteFriend(baseUrl=${baseUrl})}" method="post" th:object="${friendrequest}" th:if="${user.id!=currentUser.id}">
                            <input type="hidden" th:value ="${user.id}" name="id" />
                            <input type="hidden" th:value ="${user.email}" name="email" />
                            <input type="hidden" value ="IN" name="inOut" />
                            <input type="submit" th:value="#{quit.friend}"  class="btn btn-dark btn-sm"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container" id="requests" th:if="${!incomingrequests.empty||!friendrequests.empty}">
    <h2 th:text="#{open.requests}">Offene Anfragen</h2>
    <div class="container"  style="padding-top:10px" th:if="${!incomingrequests.empty}">
        <p class="lead" th:text="#{incoming}">eingegangen</p>
        <div class="container">
            <div >
                <table id="incomingrequests" class="table table-striped" style="width: 50%">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th th:text="#{accept}">Bestätigen</th>
                        <th th:text="#{delete}">Löschen</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${incomingrequests}">
                        <td th:text="${user.email}"/>
                        <td>
                            <form th:action="@{{baseUrl}/acceptFriendRequest(baseUrl=${baseUrl})}" method="post" th:object="${friendrequest}">
                                <input type="hidden" th:value ="${user.id}" name="id" />
                                <input type="hidden" th:value ="${user.email}" name="email" />
                                <input type="hidden" th:value ="IN" name="inOut" />
                                <input type="submit" th:value="#{accept}"  class="btn btn-dark"/>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{{baseUrl}/deleteFriendRequest(baseUrl=${baseUrl})}" method="post" th:object="${friendrequest}">
                                <input type="hidden" th:value ="${user.id}" name="id" />
                                <input type="hidden" th:value ="${user.email}" name="email" />
                                <input type="hidden" th:value ="IN" name="inOut" />
                                <input type="submit" th:value="#{delete}"  class="btn btn-dark"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container" th:if="${!friendrequests.empty}">
        <p class="lead" th:text="#{outgoing}">gesendet</p>
        <div class="container">
            <div >
                <table id="friendrequest" class="table table-striped" style="width: 50%">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th th:text="#{delete}">Löschen</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${friendrequests}">
                            <td th:text="${user.email}"/>
                            <td>
                                <form th:action="@{{baseUrl}/deleteFriendRequest(baseUrl=${baseUrl})}" method="post" th:object="${friendrequest}">
                                    <input type="hidden" th:value ="${user.id}" name="id" />
                                    <input type="hidden" th:value ="${user.email}" name="email" />
                                    <input type="hidden" value ="OUT" name="inOut" />
                                    <input type="submit" th:value="#{delete}"  class="btn btn-dark"/>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p class="lead" th:text="#{invitetext}">Möchtest du einen Freund hinzufügen? Trage seine Email Adresse ein:</p>
    <form th:action="@{{baseUrl}/addFriend(baseUrl=${baseUrl})}" method="post" th:object="${friendrequest}">
        <div>
            <label for="Email" class="form-label">Email:</label>
            <input type="email" th:field="*{email}" id="Email" class="form-control"/>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark" th:text="#{submit}">Senden</button>
        </div>
    </form>

</div>
<div class="container" style="margin-top:30px">
    <p class="lead" th:text="#{user.delete}">Willst du deinen Account löschen, dann klicke hier (alle deine Daten und Fortschritte werden gelöscht!):</p>
    <a href="delete" th:text="#{user.delete.account}"  class="btn btn-dark"/>
</div>

<div th:replace="fragments/footer-fragment.html"/>


</body>
</html>