<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header-fragment.html"/>

<body>
<div class="container">
    <div class="row">
        <h1 th:text="#{sleeping.time.challenge}"></h1>
        <p class="lead" th:text="#{login.text}">Mach mit bei der Schlafzeit Challenge! Das Ziel ist es früher schlafen zu gehen als deine Freunde, denn jeder gesunder Schlaf fördert das allgemeine Wohlbefinden sowie die Leistung
        <br>Derzeit Login nur mit Google Account möglich
        </p>
    </div>
    <div class="row">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h3 class="card-title" th:text="#{login.title}">Login with:</h3>
                <div class="card-link">
                    <p th:each="url : ${urls}">
                        <a th:text="${url.key}" th:href="${url.value}" class="btn btn-light">Client</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer-fragment.html"/>
</body>
</html>