<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header-fragment.html"/>
<body>
<!-- Navigation -->
<div th:insert="fragments/navbar-fragment.html"/>


<div class="container-md">
    <h1 th:text="| #{welcome} ${user.name}|"></h1>
    <p class="lead" th:text="#{ask.for.registration}">Möchtest du dich registrieren?</p>
    <form th:action="@{{baseUrl}/register(baseUrl=${baseUrl})}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{email}" id="email"/>
        <input type="hidden" th:field="*{sub}" id="sub"/>
        <input type="hidden" th:field="*{authorizedClientRegistrationId}" id="authorizedClientRegistrationId"/>
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" th:field="*{name}" id="name" class="form-control"/>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark" th:text="#{save}">Speichern</button>
        </div>
    </form>
</div>



<div th:replace="fragments/footer-fragment.html"/>

</body>
</html>